
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<title>Hakkımızda</title>
<br />
<h2 style="margin-left:75px;">Hakkımızda</h2>

<div class="container body-content">
    <br />

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque viverra egestas. Quisque rhoncus sollicitudin velit. Morbi placerat nec eros non rutrum. Duis neque quam, consectetur sed mi ut, consectetur egestas est. Maecenas consequat libero ac posuere elementum. Donec non mollis nunc. Etiam quis mollis magna, a placerat nisl. Vestibulum ac dui in nisl gravida scelerisque a vitae dui. Nullam eu lobortis purus, non faucibus urna. Nam a convallis elit. Aenean accumsan feugiat purus, sagittis dapibus ligula dignissim ac. Praesent in turpis in ipsum accumsan venenatis.</p>

    <p>Donec rutrum eros a fringilla tristique. Fusce orci turpis, suscipit vel ipsum non, euismod auctor magna. Etiam molestie sapien sit amet ligula dapibus mollis. In feugiat vel massa quis tempor. Donec sit amet lorem sodales, commodo lectus in, dapibus est. Nullam id massa imperdiet, vulputate enim at, sodales ex. Sed vehicula libero quis enim laoreet lobortis. In ex leo, posuere in ligula in, finibus consectetur quam.</p>

    <p>Vivamus nec lobortis nulla, ut fringilla erat. Praesent at magna massa. Vestibulum sem risus, egestas at eros sed, porta varius orci. Aenean tempor posuere aliquam. Sed ex lectus, tincidunt id ullamcorper sed, tempor ut nulla. Sed finibus urna eget ante fringilla, vel faucibus ipsum pretium. Donec iaculis ipsum id ipsum cursus fringilla. Pellentesque non nisl in augue faucibus sodales. Vivamus interdum dolor a purus dictum placerat.</p>

    <p> Nulla facilisi. Donec lobortis consequat neque, id viverra metus euismod sit amet. Suspendisse libero mi, sollicitudin eget urna at, pellentesque vehicula quam. Quisque pretium turpis ut facilisis ultricies. Nunc sed suscipit eros. Pellentesque eget leo et leo vulputate euismod vel id mauris. Vivamus dignissim a lectus nec cursus. Vestibulum eu nunc tortor. Sed at lectus nec lacus pretium accumsan in ac nulla. Vivamus suscipit tincidunt lorem et tempor. Morbi non lectus consequat, vestibulum turpis nec, egestas augue. Integer quis justo pretium, pulvinar leo vitae, volutpat arcu. Sed facilisis mi cursus, laoreet elit vel, laoreet nunc. Etiam augue leo, pellentesque non massa eu, facilisis gravida libero. Etiam aliquam tellus at leo imperdiet, id tempor neque pretium. Pellentesque non fermentum dolor.</p>

    <p>Aliquam consequat ex pharetra mauris mattis, sed luctus ipsum ornare. Curabitur ut sapien ex. Cras mattis felis at elit egestas dignissim. In hac habitasse platea dictumst. Suspendisse lacus nisi, rhoncus in fermentum nec, mattis sed est. Aenean accumsan mattis egestas. Phasellus vestibulum eleifend magna, ac aliquet mi varius eget. Sed volutpat nulla id est ullamcorper maximus. Sed egestas, justo at fringilla sodales, nisi libero lacinia metus, eget ornare nunc mi ac lectus. Aliquam lectus ante, aliquet non mauris at, volutpat vestibulum arcu. Fusce imperdiet diam in nulla rhoncus cursus. Proin sed pharetra sem. Duis varius dolor nisi, nec placerat risus ullamcorper a. Donec sit amet euismod turpis. Maecenas sem arcu, laoreet sed euismod eu, egestas et turpis. Ut sed arcu tempus, fringilla ipsum ac, vestibulum dui.</p>
</div>

