
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<title>İletişim</title>
<br />
<h2 style="margin-left:75px;">İletişim</h2>

<div>
    <div class="container body-content">
        <p>
            <strong>Telefon : 0212 212 1212</strong>
        </p>
        <p>
            <strong>E-mail : sinanyazar52@gmail.com</strong>
        </p>
        <p>
            <strong>Adres : İstanbul/Türkiye</strong>
        </p>
    </div>
</div>

