@model IEnumerable<Entities.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<title>Markalar</title>
<br />
<h2>&emsp;Marka Listesi</h2>
<br />
<div>
    @Html.ActionLink("Yeni Marka Ekle", "Create", new { }, new { @class = "btn btn-primary", @style = "margin-left:50px;" })
</div>
<br />
<table style="text-align:center;" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Marka İsmi</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(x => item.BrandName)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Update", new { id = item.BrandId }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", new { id = item.BrandId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>